<% content_for :title, "New Incident" %>


<%= render 'form' %>

 <div class='btn-group btn-group-sm'>
  <div class="btn-group icons">

<%= link_to('Back', incidents_path, :class => 'btn btn-default') %>
</div>
</div>